section {
	border: 1px solid blue;
	width: 100%;
	float: left;
}

div {
	margin: 5px;
	width: 50px;
	height: 150px;
}

.left {
	float: left;
	background: pink;
}

.right {
	float: right;
	background: cyan;
}
/* h1#technique-one {
	width: 250px;
	height: 25px;
	background-image: url(logo.gif);
}
h1#technique-one span {
	display: none;
} */

.transition {
	width: 100px;
	height: 100px;
	background: red;
	-webkit-transition: width 2s; /* Safari prior 6.1 */
	transition: width 2s;
}
