section {
	border: 1px solid blue;
	/* width: 100%;
	float: left; */
	margin-top: 20px;
}

/* div {
	margin: 5px;
	width: 50px;
	height: 150px;
} */

.left {
	float: left;
	background: pink;
}

.right {
	float: right;
	background: cyan;
}
/* h1#technique-one {
	width: 250px;
	height: 25px;
	background-image: url(logo.gif);
}
h1#technique-one span {
	display: none;
} */

.transition {
	width: 100px;
	height: 100px;
	background: red;
	-webkit-transition: width 2s; /* Safari prior 6.1 */
	transition: width 2s;
}

.grid-container {
	display: grid;
	place-items: center;
	height: 200px;
	padding: 1em;
	max-width: 75%;
}
.grid-container > .item {
	border: 1px solid green;
	padding: 1em;
	max-width: 75%;
}

/* button[aria-label='Зарегистрироваться'] {
	visibility: hidden;
}
button[aria-label='Логин'] {
	visibility: hidden;
} */
/* div[class*='unified-side-bar___'] button[class*='wire-button'] {
	visibility: hidden;
} */
